---
layout: base
---

{% include header.html type="post" %}

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <article role="main" class="blog-post">
	      {{ content }}
	    </article>

      <div class="row">
        <div class="col-md-12">
          <table style="width: 100%">
            <tr>
              <td style="width: 150px; padding: 0">
                <img src="/img/avatar.jpg" style="width: 100%" />
              </td>
              <td style="vertical-align: top">
                <p>
                  <strong>Trần Bắc Sơn</strong><br/>
                  <em>Fullstack web developer</em>
                </p>
                <p>Gioi thieu</p>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <ul class="pager blog-pager">
        {% if page.previous.url %}
        <li class="previous">
          <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
        </li>
        {% endif %}
        {% if page.next.url %}
        <li class="next">
          <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
        </li>
        {% endif %}
      </ul>

	    {% if page.comments %}
        <div class="disqus-comments">
	        {% include disqus.html %}
        </div>
	    {% endif %}
    </div>
  </div>
</div>
